[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = {version = "*", extras = ["all"]}
pyyaml = "*"

[dev-packages]
pipenv-setup = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
